.header {
  align-items: center;
  display: flex;
  padding: 1.5rem;
  width: 100%;

  h2 {
    user-select: none;
  }

  ul {
    align-items: center;
    display: flex;
    gap: 1rem;
    list-style: none;
    margin-left: 10rem;
  }
}